<!-- Validation failure messages -->
<% if @survey_response_option.errors.any? %>
  <% @survey_response_option.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Survey Response Option</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_survey_response_option" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for response_text -->
      <div class="form-group">
        <label for="response_text" class="control-label">
          Response text
        </label>

        <input type="text" id="response_text" name="response_text" placeholder="Response text" class="form-control" value="<%= @survey_response_option.response_text %>">
      </div>

      <!-- Label and input for survey_id -->
      <div class="form-group">
        <label for="survey_id" class="control-label">
          Survey
        </label>

        <%= select_tag(:survey_id, options_from_collection_for_select(Survey.all, :id, :survey_name, @survey_response_option.survey_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Survey Response Option
      </button>
      or
      <a href="/survey_response_options">Cancel</a>
    </form>
  </div>
</div>
